body{
	background-color:lightblue;
}
h1{
	color:navy;
	margin-left:20px;
}
	a:link{
		color:green;
		background-color:transparent;
		text-decoration:none;
	}
	a:visited{
		color:yellow;
		background-color:transparent;
		text-decoration:none;
	}
	a:hover{
		color:red;
		background-color:transparent;
		text-decoration: underline;
	}
	a:active{
		color:yellow;
		background-color:transparent;
		text-decoration:underline;
	}
